<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 80%;
            margin: auto;
        }
        a {
            text-decoration: none;
            color: blue;
            display: block; /* Ensure links are on separate lines */
            margin-bottom: 15px; /* Space between links */
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to GroceryMart</h1>
        <a href="{{ url_for('order') }}">Place an Order</a>
        <a href="{{ url_for('track_order') }}">Track an Order</a>
        <a href="{{ url_for('previous_orders') }}">Show Previous Orders</a>
        <a href="{{ url_for('view_order_ids') }}">View Order IDs and Products</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
